body{
    width:100%;
}
#page-title {

    position: absolute;
    width: 25.13%;
    height: 0%;
    left: 39.43%;
    top: 0px;

    font-family: 'Segoe UI', sans-serif;
    font-style: light;
    font-weight: 100;
    font-size: 325%;

    color: #FFFFFF;

}

#title
{
    position: fixed;
    width: 100%;
    height: 49.6%;
    left: 0px;
    top: -5.95%;
    
    background: #656CEC;
    border-radius: 55px;


}

.dot1
{
    position: absolute;
    height: 180px;
    width: 180px;
    background-color: #BABEFF;
    border-radius: 50%;
    display: inline-block;
    border : 6px solid #FFFFFF;

}

.dot2
{
    position: absolute;
    height: 134.57px;
    width: 134.57px;
    background-color: #BABEFF;
    border-radius: 50%;
    display: inline-block;
    border : 4px solid #FFFFFF;   

}

#location2 
{
    left: 24.5%; 
    top: 52%;



}

.dot3
{
    position: absolute;
    height: 134.57px;
    width: 134.57px;
    background-color: #BABEFF;
    border-radius: 50%;
    display: inline-block;
    border : 4px solid #FFFFFF;   

}

#location3 
{
    right : 24.5%;
    top: 52%;
}

.smalldot 
{
    position: absolute;
    width: 24px;
    height: 24px;
    background: #BABEFF;
    display: inline-block;
    border-radius: 50%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    

color: #FFFFFF;

}

#smalldot_pos1 
{
    left: 49.16%;
    top: 122px;
}

#smalldot_pos2 
{
    left: 28.57%;
    top: 175px;
}

#smalldot_pos3 
{
    right: 28.57%;
    top: 175px;
}



.amanda
{
    position: fixed;
    width: 192px;
    height: 4.19%;
    left: 43.81%;
    top: 38%;
    text-align-last : center;
    background: #BABEFF;
    border-radius: 36px; 
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;

    color: #FFFFFF;

    
}
.jeremy
{
    position: fixed;
    width: 142.57px;
    height: 3.19%;
    left: 24.5%;
    top: 39%;
    text-align-last : center;
    background: #BABEFF;
    border-radius: 36px; 
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: #FFFFFF;

}

.jefferey
{
    position: fixed;
    width: 142.57px;
    height: 3.19%;
    right: 24.5%;
    top: 39%;
    text-align-last : center;
    background: #BABEFF;
    border-radius: 36px; 
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

}

#mini1 
{
    position: absolute;
    width: 2px;
    height: 2px;
    left: 437px;
    top: 411px;

    background: #FFFFFF;



}







#location1
{
    left: 43.39%; 
    right: 20.98%;
    top: 38%;

}

#line
{
    position: fixed;
    width: 1440px;
    height: 0px;
    left: 0px;
    top: 60px;

    border: 1px solid #FFFFFF;
    transform: rotate(-0.12deg);

}




.rec{
    top: 48%;
    list-style-type: none;
    
    position: absolute;
    width:100%;
    margin: 0px;
    padding: 0px;
    
}
#rec1{
    display: flex;
   
    width: 100%;
 
    background: #D2D4F2;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 60px;
    height: 68px;

    color: #1E1E1E;
    margin:0px;
    padding:0px;
    border: 20px;
}
.dog{
    height: 15px;
}
#circle
{
    position: absolute;
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    background: #BABEFF;
    border : 3px solid #FFFFFF; 
    left : 8.07%;
    margin-top: 6px;
    flex-grow: 20;
  


}



#num1
{
    flex-grow: 15;
    margin-left: 15px;

   

}

#score1
{
    
    flex-grow: 10;

}

#name1
{
     flex-grow: 87;
    

}



.cute{ 
    height: 180px;
    width: 180px;
    border-radius: 50%;

}

.cuter{
    height: 134.57px;
    width: 134.57px;
    border-radius: 50%;

}

.cutest{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}